<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>
    <div class="-mt-[22%] mb-[20%] flex px-8">
      <h2 class="w-full flex justify-center text-white text-2xl font-light">CATEGORIES</h2>
    </div>
  </div>
</div>
