<div class="-mt-[12%] mb-[20%] flex px-8">
  <h2 class="w-full flex justify-center text-white text-2xl font-light">CATEGORIES</h2>
</div>

<% @categories.each do |category| %>
  <a href="<%= category_path(id: category) %>" class="w-full shadow-lg p-4 my-4 grid grid-cols-5 items-center">
    <div class="col-span-4 flex items-center h-full">
      <img src="<%= category.icon %>" class="h-[70px] mr-8">
      <h2 class="text-2xl font-semibold"><%= category.name %></h2>
    </div>

    <h2 class="overflow-hidden text-right mr-6 col-span-1">R<%= category.expenses.sum(:amount) %></h2>
  </a>
<% end %>

